!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          true
urxvt*shading:              20
URxvt.fading:               20
! URxvt.urgentOnBell:         true
URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            1500
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           true
/* URxvt.font:                 -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */
URxvt*font: xft:Fantasque Sans Mono:pixelsize=14
URxvt*boldFont: xft:Fantasque Sans Mono:style=Bold:pixelsize=14
URxvt.italicFont: xft:Fantasque Sans Mono:pixelsize=14:style=Italic
URxvt.boldItalicFont: xft:Fantasque Sans Mono:pixelsize=14:style=Bold Italic

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      true

! Pointer
URxvt.pointerBlank:         true


! special
*.foreground:   #c1c1c1
*.background:   #080808
*.cursorColor:  #c1c1c1

! black
*.color0:       #1b1d1e
*.color8:       #505354

! red
*.color1:       #f92672
*.color9:       #ff5995

! green
*.color2:       #82b414
*.color10:      #b6e354

! yellow
*.color3:       #fd971f
*.color11:      #feed6c

! blue
*.color4:       #4e82aa
*.color12:      #0c73c2

! magenta
*.color5:       #8c54fe
*.color13:      #9e6ffe

! cyan
*.color6:       #465457
*.color14:      #899ca1

! white
*.color7:       #ccccc6
*.color15:      #f8f8f2

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1
xterm*VT100.Translations: #override \
	Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
